.idea/
.vscode/

# Environment files
backend/.env
backend/.venv
backend/.flaskenv
backend/__pycache__
backend/api/__pycache__
backend/tests/__pycache__
backend/migrations/__pycache__
backend/*.py[cod]
backend/*$py.class
backend/data/
backend/api/static
backend/.coverage
backend/.coverage.*
backend/coverage.xml
backend/htmlcov/

frontend/.env
frontend/dist/
frontend/node_modules/
frontend/package-lock.json